.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #191919;
  color: white;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 2rem;
    text-align: center;
  }
}
